.job-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-header{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.jobName{
    font-weight: 600;

}

.experience-section{
    width: 65%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.job-container{
    margin: 0 1em 0 1em;
}

@media only screen and (max-width: 600px) {
  
    .experience-section{
      width: 90%;
    }

    .position-text{
        width: 100%;
    }
  }

