.App{

  height: 100%;
  display: flex;
  justify-content: center;
}

.resume-container{
  width: 75vw;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8em;
  padding: 1em;
}

.first-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 30%;
  width: 100%;
}

.hidden{
  visibility: hidden;
}

.start{
    visibility: visible;
    opacity: 0;
    transform: scale(.9);
    animation: fadeInY 1.5s .25s forwards;
    -webkit-animation: fadeInY 1.5s .25s forwards;

}

@keyframes fadeInY {
  from {
      transform: translateY(20px) scale(.96);
      opacity: 0;
  }
  to {
      transform: translateY(0px) scale(1);
      opacity: 1;
  }
}

@keyframes fadeInX {
  from {
      transform: translateX(20px) scale(.96);
      opacity: 0;
  }
  to {
      transform: translateX(0px) scale(1);
      opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .resume-container{
    width: 95vw;
    margin: 0 2.5vw 0 2,5vw;
  }

 .first-container{
  flex-direction: column-reverse;
  row-gap: 2em;
  align-items: center;
  justify-content: center;
 }
}
